* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  background-image: url(image/nature.webp);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
:root {
  --font-main: "Poppins", sans-serif;
  --fs-h1: clamp(1.8rem, 3vw + 1rem, 3.5rem);
  --fs-h2: clamp(1.5rem, 4vw + 1rem, 3rem);
  --fs-body: 1rem;
  --fs-label: 0.9rem;
  --fs-button: 1.1rem;
  --clr-link: rgb(139, 139, 231);
  --clr-link-hover: #ffffff;
  --fluid-gap: clamp(10px, 2vw, 40px);
  --fs-button: clamp(0.875rem, 0.5vw + 0.7rem, 1.125rem);
  --primary-rgb: 255, 255, 255;
}

.signup-card {
  display: inline-block;
  line-height: 2rem;
}
.card-header {
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: var(--fluid-gap);
}
.card-header h1 {
  font-size: var(--fs-h1);
  margin-bottom: var(--fluid-gap);
  letter-spacing: -0.002em;
}
.card-footer h2 {
  font-size: var(--fs-h2);
  letter-spacing: 0.002em;
}
.container {
  width: calc(100% - var(--fluid-gap));
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: var(--fluid-gap);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  padding: var(--fluid-gap);
  border: 1px solid rgba(var(--primary-rgb), 0.2);
  background-color: rgba(var(--primary-rgb), 0.1);
  font-family: var(--font-main);
  box-shadow: 0 20px 40px rgba(0,0,0,0.2)
}
.container ::placeholder {
  font-size: var(--fs-body);
}
.form-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1rem;
  margin-bottom: var(--fluid-gap);
}
.form-content input {
  width: 100%;
  padding: 0.5rem var(--fluid-gap);
  border: none;
  font-size: var(--fs-button);
}
.form-content input:focus {
  outline: none;
  border: 2px solid #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.3s;
}
.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--fluid-gap);
}
.form-actions .btn {
  padding: 0.6rem 1.5rem;
  background-color: var(--clr-link);
  color: white;
  border: none;
  font-size: var(--fs-button);
  box-shadow: 0 0 14px rgba(149, 150, 221, 0.8);
}
.form-actions .btn:hover {
  background-color: var(--clr-link-hover);
  color: blue;
}
.card-footer {
  margin: 1rem;
  width: 100%;
  text-align: center;
}
.card-footer a {
  color: var(--clr-link);
  font-size: var(--fs-label);
  text-decoration: none;
}
.card-footer a:hover {
  color: var(--clr-link-hover);
}
.card-footer p {
  font-weight: bold;
  font-size: var(--fs-label);
  color: white;
}
.policy-check {
  color: white;
  font-size: var(--fs-label);
}
.policy-check a {
  color: var(--clr-link);
  text-decoration: none;
}
.policy-check :hover {
  color: var(--clr-link-hover);
}


