* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  background-image: url(nature.webp);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup-card {
  display: inline-block;
  line-height: 2rem;
}
.card-header {
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.container {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 100px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 40px;
}
.form-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1rem;
  width: 100%;
}
.form-content input {
  width: 100%;
  height: 1.5rem;
  border: none;
  font-size: 1.3rem;
  padding-left: 0.5rem;
}
.form-content input:focus {
  outline: none;
  border: 2px solid #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.3s;
}
.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.form-actions .btn {
  padding: 0.4rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 1.2rem;
}
.card-footer {
  margin: 1rem;
  width: 100%;
  text-align: center;
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 300px;
    padding: 40px 10px;
    font-size: 1rem;
  }
}





